.cta__footer_container {
    position: relative;
}

.cta {
    text-align: center;
    padding: 12px;
    z-index: 5;
    position: absolute;
    top: -7.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 50rem;

    &__container { 
        box-shadow: 0px 0px  14px rgba(0, 0, 0, 0.07);
        padding: 2.5625rem 0.75rem;
        border-radius: 1rem;
        background: white;

        h2 {
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
            line-height: 1.875rem;
        }
    
        button {
            background: $Pink;
            color: white;
            width: 12.5rem;
            height: 2.5rem;
            font-size: 0.625rem;
    
            &:hover {
                background: hsl(321, 100%, 80%);
            }
        }
    }
}

// 800px
@media screen and (min-width: 50em) {

    .cta {
        padding: 0;
        top: -11.5rem;

        &__container { 
            padding: 3.52rem 0 3.25rem 0;
    
            h2 {
                font-size: 2rem;
                line-height: 3.75rem;
                margin-bottom: 2rem;
            }
        
            button {
                font-size: 1.25rem;
                width: 25rem;
                height: 5rem;
            }
        }
    }
}


