.footer {
    background: $VeryDarkCyan;
    color: white;
    font-size: 0.875rem;
    padding: 8.6875rem 1rem 2.875rem 1.3125rem;

    &__logo {
        margin:  0 auto 1.5625rem ;
        max-width: 77.625rem;
    }

    path {
        fill: white;
    }
    
    p {
        max-width: 21.1875rem;
        line-height: 1.5rem;
    }

    small {
        text-align: center;
        display: block;
    }

    &__contact {
        margin-bottom: 2.5625rem;

        li {
            display: flex;
            align-items: center;

            &:not(:last-child){
                margin-bottom: 1.5rem;
            }

            img {
                margin-right: 1rem;
            }
        }
    }

    &__nav {
        margin-bottom: 1.5rem;
        
        li {

            &:not(:last-child){
                margin-bottom: 1rem;
            }

            a:hover {
                border-bottom: 1px white solid;
            }

        }
    }

    &__socials {
        text-align: center;

        ion-icon {
            font-size: 2rem;
            margin-bottom: 1.5rem;

            &:not(:nth-of-type(2)) {
                margin-right: 0.709rem;
            }

            &:hover {
                color: $Pink;
            }
        }
    }
}




// 800px
@media screen and (min-width: 50em) {
    .footer {
        padding: 9rem 2.5rem 4rem 2.5rem;

        &__logo {
            margin-bottom: 2rem;
        }

        &__container {
            max-width: 77.625rem;
            display: flex;
            margin: auto;
            justify-content: space-between;
        }

        &__contact {
            margin-right: 2rem;
            margin-bottom: 0;

            li {

                &:not(:last-child){
                    margin-bottom: 0.75rem;
                }
            }
        }

        &__socials {
            margin-bottom: 0;
            text-align: left;

            ion-icon {
                margin-bottom: 6.6875rem;
            }
        }

        &__nav {
            margin-bottom: 0;
            columns: 2;
            
            li {
                margin-right: 1rem;
            }
        }
        
    }
}

// 1100px +
@media screen and (min-width: 68.75em) {
    .footer {
        padding: 9rem 4.875rem 4rem 7.5rem;

        &__contact {
            margin-right: 8.125rem;
        }

        &__nav {
            li {
                margin-right: 8.9375rem;
            }
        }
    }
}
