.header_hero_container {
    padding: 1.6875rem 1rem 2.3125rem 1rem;
    background-image: url(/images/bg-hero-mobile.svg);
    background-color: $VeryPaleCyan;
}

.hero {
    text-align: center;
    height: 100%;
    padding: 0 1.1875rem 0 1.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        animation: fadeIn 1.5s ease-in-out;

        h1 {
            font-size: 1.5rem;  
            margin-bottom: 1.5rem;  
        } 
    
        p {
            font-size: 1rem;
            color: $VeryDarkCyan;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }
    
        button {
            background: $Pink;
            color: white;
            width: 15rem;
            height: 2.5rem;
            margin-bottom: 3.5rem;
    
            &:hover {
                background: hsl(321, 100%, 80%);
            }
        }

    }

    &__image {
        animation: slideUp 1.3s ease-in-out;

        img {
            width: 100%;
        }
    }
}

// 800px
@media screen and (min-width: 50em) {

    .header_hero_container {
        background-image: url(/images/bg-hero-desktop.svg);
        background-color: $VeryPaleCyan;
        padding: 4.25rem 5rem 4.5rem 5rem;
    }

    .hero {
        flex-direction: row;
        max-width: 80rem;
        margin: auto;
        padding: 0;

        &__text {
            margin-right: 3.375rem;
            text-align: left;

            h1 {
                max-width: 33.5rem;
            }

            p {
                max-width: 32.5rem;
            }
        }

        &__image {
            img {
                max-width: 42.5rem;
            }
        }
    }
}

// 1100px +
@media screen and (min-width: 68.75em) {

    .hero {

        &__text {

            h1 {
                font-size: 2.5rem;
                line-height: 3.75rem;
            }

            p {
                font-size: 1.125rem; 
                line-height: 1.6875rem;
            }

            button {
                width: 17.5rem;
                height: 3.5rem;
            }
        }
    }
}
